body{
    background-color: darkseagreen;
    border: 100px olive;
    border-radius: 12px;
    margin-left: auto;
    max-width: 1920px;
    min-width: 256px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    font-family:Arial, Helvetica, sans-serif;
}



.barra-navegacion ul {
    list-style-type: none;
    background-color: #F5F5DC;
    border: 4px solid #111111;
    border-radius: 18px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 16px;
}
.barra-navegacion ul li{
    display: inline;
    border-right: 2px solid #111111 ;
    padding-right: 8px;
    padding-left: 8px;
}
.barra-navegacion ul li :last-child{
    border-right: none;
}
.barra-navegacion ul li a{
    text-decoration: none;
    color: #111111;
}

p.atentos{
    border: 4px solid orange;
    border-radius: 10px;
    padding: 20px;
    background-color: peachpuff;
}
p.atentos: before {
    color: black;
    content: "top tip:": font-weight: bold;
}

table {
    font-size: 70%;
    border-collapse: collapse;
    width: 100%;
}
th, td{
border: 1px solid #000000
}
th{
}
td{
}